static/blocks/header-blue.html
<!-- BEGIN header -->
<div class="header-alternate c-header-alternate"></div>
<header class="header clearfix c-header header--planeta header--profile header--blue">
  <div class="content">
    <div class="container-header clearfix">
      <div class="header__menu">
        <ul>
          <li><a href="#" title="Каталог" class="header__menu-item active"><span>Каталог</span></a></li>
          <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
          <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
          <li><a href="#" title="Статьи" class="header__menu-item"><span>Статьи</span></a></li>
          <li><a href="#" title="О нас" class="header__menu-item"><span>О нас</span></a></li>
        </ul>
      </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"/><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"/></a>
      <div class="header__menu header__menu--right">
        <ul>
          <li><a href="#" title="" class="header__menu-item"><img src="images/content/cart-white-fix.svg" alt="" class="cart cart--no-sales"/><span>Нет покупок</span></a></li>
          <li class="separate"></li>
          <li><a href="#" title="" class="header__menu-item"><span>Мой кабинет</span><img src="images/content/babizky.jpg" alt="" class="user"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</header><!-- END header -->

source/blocks/header-blue.jade
<!-- BEGIN header -->
.header-alternate.c-header-alternate
header.header.clearfix.c-header.header--planeta.header--profile.header--blue
	.content
		.container-header.clearfix
			.header__menu
				ul()
					li()
						a.header__menu-item.active(href="#" title="Каталог")
							span
								|Каталог
					li()
						a.header__menu-item(href="#" title="Мастерская")
							span
								|Мастерская
					li()
						a.header__menu-item(href="#" title="Услуги")
							span
								|Услуги
					li()
						a.header__menu-item(href="#" title="Статьи")
							span
								|Статьи
					li()
						a.header__menu-item(href="#" title="О нас")
							span
								|О нас
			a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
				img.relative(src="images/content/logo.svg" alt="Bookscriptor")
				img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
			.header__menu.header__menu--right
				ul()
					li()
						a.header__menu-item(href="#" title="")
							img.cart.cart--no-sales(src="images/content/cart-white-fix.svg" alt="")
							span
								| Нет покупок
					li.separate()
					li()
						a.header__menu-item(href="#" title="")
							span
								| Мой кабинет
							img.user(src="images/content/babizky.jpg" alt="")


<!-- END header -->
