source/blocks/header-search.jade
<!-- BEGIN header -->
.header-alternate.c-header-alternate
header.header.clearfix.c-header.header--planeta.main-header
	.container-header.clearfix
		.header__menu
			ul()
				li()
					a.header__menu-item(href="#" title="Каталог")
						span
							|Каталог
				li()
					a.header__menu-item(href="#" title="Мастерская")
						span
							|Мастерская
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Услуги
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Статьи
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|О нас
		a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
			img.relative(src="images/content/logo.svg" alt="Bookscriptor")
			img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
		.header__menu.header__menu--right
			ul()
				li()
					a.header__menu-item(href="#" title="Войти")
						span
							|Войти
				li()
					a.header__menu-item.btn-reg(href="#" title="Зарегистрироваться")
						span
							|Зарегистрироваться
	.add-panel
		.row.clearfix
			ul.logo
				li
					a.header-logo(href="/")
			.input-group.site-search
				.input-group-btn
					button.btn.btn-white.link-dropdown.dropdown-toggle.current-search-type(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-search-type="name") По названию
					ul.dropdown-menu
						li
							a.search-type-element(href="#" data-search-type="name") По названию
						li
							a.search-type-element(href="#" data-search-type="detail_text") По ключевому слову
						li
							a.search-type-element(href="#" data-search-type="author_name") По имени автора
				.form.site-search-form
					input.input-search(type="text" placeholder="Поиск книг" value="")
					a.icon-search(href="#")
nav.main-nav.needs-stretch
	.row.clearfix
		ul.menu
<!-- END header -->

static/blocks/header-search.html
<!-- BEGIN header -->
<div class="header-alternate c-header-alternate"></div>
<header class="header clearfix c-header header--planeta main-header">
  <div class="container-header clearfix">
    <div class="header__menu">
      <ul>
        <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
        <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
      </ul>
    </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"/><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"/></a>
    <div class="header__menu header__menu--right">
      <ul>
        <li><a href="#" title="Войти" class="header__menu-item"><span>Войти</span></a></li>
        <li><a href="#" title="Зарегистрироваться" class="header__menu-item btn-reg"><span>Зарегистрироваться</span></a></li>
      </ul>
    </div>
  </div>
  <div class="add-panel">
    <div class="row clearfix">
      <ul class="logo">
        <li><a href="/" class="header-logo"></a></li>
      </ul>
      <div class="input-group site-search">
        <div class="input-group-btn">
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-search-type="name" class="btn btn-white link-dropdown dropdown-toggle current-search-type">По названию</button>
          <ul class="dropdown-menu">
            <li><a href="#" data-search-type="name" class="search-type-element">По названию</a></li>
            <li><a href="#" data-search-type="detail_text" class="search-type-element">По ключевому слову</a></li>
            <li><a href="#" data-search-type="author_name" class="search-type-element">По имени автора</a></li>
          </ul>
        </div>
        <div class="form site-search-form">
          <input type="text" placeholder="Поиск книг" value="" class="input-search"/><a href="#" class="icon-search"></a>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="main-nav needs-stretch">
  <div class="row clearfix">
    <ul class="menu"></ul>
  </div>
</nav><!-- END header -->
