source/blocks/header-white-lk.jade
<!-- BEGIN header -->
.header-alternate.c-header-alternate
header.header.clearfix.c-header.header--planeta
	.container-header.clearfix
		.header__menu
			ul()
				li()
					a.header__menu-item(href="#" title="Каталог")
						span
							|Каталог
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Услуги
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Статьи
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|О нас
		a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
			img.relative(src="images/content/logo.svg" alt="Bookscriptor")
			img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
		.header__menu.header__menu--right
			ul()
				li()
					a.header__menu-item(href="#" title="")
						img.cart.cart--no-sales(src="images/content/cart-white-fix.svg" alt="")
						span
							| Нет покупок
				li.separate()
				li().header__menu-item--lk
					a.header__menu-item.active(href="#" title="")
						span
							| Мой кабинет
						img.user(src="images/content/babizky.jpg" alt="")
					.submenu-ul__block
						.submenu-ul__item
							a(href="javascript:void(0);").submenu-ul__link Мастерская
							a(href="javascript:void(0);").submenu-ul__link Гонорар
							a(href="javascript:void(0);").submenu-ul__link Профиль
							a(href="javascript:void(0);").submenu-ul__link Мои заказы
							a(href="javascript:void(0);").submenu-ul__link Библиотека
							.submenu-ul__link--logout
							a(href="javascript:void(0);").submenu-ul__link Выйти

<!-- END header -->

static/blocks/header-white-lk.html
<!-- BEGIN header -->
<div class="header-alternate c-header-alternate"></div>
<header class="header clearfix c-header header--planeta">
  <div class="container-header clearfix">
    <div class="header__menu">
      <ul>
        <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
      </ul>
    </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"/><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"/></a>
    <div class="header__menu header__menu--right">
      <ul>
        <li><a href="#" title="" class="header__menu-item"><img src="images/content/cart-white-fix.svg" alt="" class="cart cart--no-sales"/><span>Нет покупок</span></a></li>
        <li class="separate"></li>
        <li class="header__menu-item--lk"><a href="#" title="" class="header__menu-item active"><span>Мой кабинет</span><img src="images/content/babizky.jpg" alt="" class="user"/></a>
          <div class="submenu-ul__block">
            <div class="submenu-ul__item"><a href="javascript:void(0);" class="submenu-ul__link">Мастерская</a><a href="javascript:void(0);" class="submenu-ul__link">Гонорар</a><a href="javascript:void(0);" class="submenu-ul__link">Профиль</a><a href="javascript:void(0);" class="submenu-ul__link">Мои заказы</a><a href="javascript:void(0);" class="submenu-ul__link">Библиотека</a>
              <div class="submenu-ul__link--logout"></div><a href="javascript:void(0);" class="submenu-ul__link">Выйти</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header><!-- END header -->
