source/blocks/pagination.jade
ul.b-pagination
    li.b-pagination__item.b-pagination__item--nav.b-pagination__item--prev.custom-btn--blue.custom-btn--disabled
        a(href="#").b-pagination__link
            | Назад
    li.b-pagination__item.b-pagination__item--active
        a(href="#").b-pagination__link 1
    li.b-pagination__item
        a(href="#").b-pagination__link 2
    li.b-pagination__item.is-active
        a(href="#").b-pagination__link 3
    li.b-pagination__item
        a(href="#").b-pagination__link 4
    li.b-pagination__item
        a(href="#").b-pagination__link 5
    li.b-pagination__item
        a(href="#").b-pagination__link 6
    li.b-pagination__item
        a(href="#").b-pagination__link 7
    li.b-pagination__item.is-more
        a(href="#").b-pagination__link .&nbsp;.&nbsp;.
    li.b-pagination__item
        a(href="#").b-pagination__link 24
    li.b-pagination__item
        a(href="#").b-pagination__link 25
    li.b-pagination__item
        a(href="#").b-pagination__link 26
    li.b-pagination__item.b-pagination__item--nav.b-pagination__item--next.custom-btn--blue
        a(href="#").b-pagination__link
            | Вперед

static/blocks/pagination.html

<ul class="b-pagination">
  <li class="b-pagination__item b-pagination__item--nav b-pagination__item--prev custom-btn--blue custom-btn--disabled"><a href="#" class="b-pagination__link">Назад</a></li>
  <li class="b-pagination__item b-pagination__item--active"><a href="#" class="b-pagination__link">1</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">2</a></li>
  <li class="b-pagination__item is-active"><a href="#" class="b-pagination__link">3</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">4</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">5</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">6</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">7</a></li>
  <li class="b-pagination__item is-more"><a href="#" class="b-pagination__link">.&nbsp;.&nbsp;.</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">24</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">25</a></li>
  <li class="b-pagination__item"><a href="#" class="b-pagination__link">26</a></li>
  <li class="b-pagination__item b-pagination__item--nav b-pagination__item--next custom-btn--blue"><a href="#" class="b-pagination__link">Вперед</a></li>
</ul>
