source/gui.jade
- var title= 'UI'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--planeta
            .content-wrapper
                <!-- BEGIN header -->
                .header-alternate.c-header-alternate
                header.header.clearfix.c-header.header--planeta
                    .container-header.clearfix
                        .header__menu
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Каталог")
                                        span
                                            | Каталог
                                li()
                                    a.header__menu-item(href="#" title="Мастерская")
                                        span
                                            | Мастерская
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Услуги
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Статьи
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | О нас
                        a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                            img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                            img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                        .header__menu.header__menu--right
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Войти")
                                        span
                                            | Войти
                                li()
                                    a.header__menu-item.btn-reg(href="#" title="Зарегистрироваться")
                                        span
                                            | Зарегистрироваться



                <!-- авторизован/корзина пустая-->
                header.header.clearfix.c-header.header--planeta
                    .container-header.clearfix
                        .header__menu
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Каталог")
                                        span
                                            | Каталог
                                li()
                                    a.header__menu-item(href="#" title="Мастерская")
                                        span
                                            | Мастерская
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Услуги
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Статьи
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | О нас
                        a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                            img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                            img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                        .header__menu.header__menu--right
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        img.cart.cart--no-sales(src="images/content/cart-white-fix.svg" alt="")
                                        span
                                            | Нет покупок
                                li.separate()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        span
                                            | Мой кабинет
                                        img.user(src="images/content/babizky.jpg" alt="")

                <!--авторизован/корзина не пуста-->
                header.header.clearfix.c-header.header--planeta
                    .container-header.clearfix
                        .header__menu
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Каталог")
                                        span
                                            | Каталог
                                li()
                                    a.header__menu-item(href="#" title="Мастерская")
                                        span
                                            | Мастерская
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Услуги
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Статьи
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | О нас
                        a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                            img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                            img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                        .header__menu.header__menu--right
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        img.cart.cart--active(src="images/content/cart.svg" alt="")
                                        span.cart-content
                                            | 2 товара на 750 ₽
                                li.separate()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        span
                                            | Мой кабинет
                                        img.user(src="images/content/babizky.jpg" alt="")


                <!-- END header -->

                .background-block(style="background-color: #000")
                    <!-- BEGIN header -->
                    .header-alternate.c-header-alternate
                    header.header.clearfix.c-header
                        .content
                            .container-header.clearfix
                                .header__menu
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Каталог")
                                                span
                                                    | Каталог
                                        li()
                                            a.header__menu-item(href="#" title="Мастерская")
                                                span
                                                    | Мастерская
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Услуги
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Статьи
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | О нас
                                a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                                    img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                                    img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                                .header__menu.header__menu--right
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Войти")
                                                span
                                                    | Войти
                                        li()
                                            a.header__menu-item.btn-reg(href="#" title="Зарегистрироваться")
                                                span
                                                    | Зарегистрироваться
                    <!-- авторизован/корзина пустая-->
                    header.header.clearfix.c-header
                        .content
                            .container-header.clearfix
                                .header__menu
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Каталог")
                                                span
                                                    | Каталог
                                        li()
                                            a.header__menu-item(href="#" title="Мастерская")
                                                span
                                                    | Мастерская
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Услуги
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Статьи
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | О нас
                                a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                                    img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                                    img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                                .header__menu.header__menu--right
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                img.cart.cart--no-sales(src="images/content/cart-white.svg" alt="")
                                                span
                                                    | Нет покупок
                                        li.separate()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                span
                                                    | Мой кабинет
                                                img.user(src="images/content/babizky.jpg" alt="")

                    <!--авторизован/корзина не пуста-->
                    header.header.clearfix.c-header
                        .content
                            .container-header.clearfix
                                .header__menu
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Каталог")
                                                span
                                                    | Каталог
                                        li()
                                            a.header__menu-item(href="#" title="Мастерская")
                                                span
                                                    | Мастерская
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Услуги
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Статьи
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | О нас
                                a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                                    img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                                    img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                                .header__menu.header__menu--right
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                img.cart.cart--active(src="images/content/cart.svg" alt="")
                                                span.cart-content
                                                    | 2 товара на 750 ₽
                                        li.separate()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                span
                                                    | Мой кабинет
                                                img.user(src="images/content/babizky.jpg" alt="")

                    <!-- END header -->

                .content
                    .block-btn-radio__item
                        input.radio-custom#item1(type="radio" name="stepsDone" value="" checked)
                        label.label-radio(for="item1")
                            | Готова к передаче в издательство
                    .block-btn-radio__item
                        input.radio-custom#item2(type="radio" name="stepsDone" value="")
                        label.label-radio(for="item2")
                            | Почти закончена, на финальной стадии
                    .block-btn-checkbox__item
                        input.checkbox-custom#check1(type="checkbox" name="electr" value="" checked)
                        label.label-checkbox(for="check1")
                            | Готова к передаче в издательство
                    .block-btn-checkbox__item
                        input.checkbox-custom#check2(type="checkbox" name="hardCover" value="")
                        label.label-checkbox(for="check2")
                            | Почти закончена, на финальной стадии
                    .block-input.block-input--required
                        input.input-custom.c-input-custom#name(type="text" name="name" placeholder="")
                        label.label-custom.c-label-custom(for="name")
                            | Ваше имя
                    .block-input
                        input.input-custom.c-input-custom#email(type="text" name="email" placeholder="")
                        label.label-custom.c-label-custom(for="email")
                            | E-mail
                    .custom-btn-blue
                        | Заказать

static/gui.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>UI</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500|Open+Sans:400,600,700|PT+Serif:400,400i,700,700i&amp;amp;subset=cyrillic|Caveat+Brush&amp;amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="css/cropper.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main_print_book.css">
    <link rel="stylesheet" href="css/article.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <script src="./js/jquery-1.12.0.min.js"></script>
    <script src="./fancybox/jquery.fancybox.js"></script>
    <script src="./js/jquery.dotdotdot.min.js"></script>
    <script src="./js/jquery.loading.min.js"></script>
    <script src="./js/jquery.loading.min.js"></script>
    <script src="./js/jquery.query-object.js"></script>
    <script src="./js/jquery.stellar.min.js"></script>
    <script src="./js/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="./js/jquery.ui.datepicker-ru.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/select2.js"></script>
    <script src="./js/cropper.min.js"></script>
    <script src="./js/bootstrap3-typeahead.min.js"></script>
    <script src="./js/bootstrap-datepicker.js"></script>
    <script src="./js/bootstrap-datepicker.ru.js"></script>
    <script src="./js/mCustomScrollbar.concat.min.js"></script>
    <script src="./js/smoothscroll.js"></script>
    <!--script(src="./js/main_print_book.js")-->
    <script src="./js/main.js"></script>
  </head>
  <body>
    <div class="pagewrap pagewrap--planeta">
      <div class="content-wrapper"><!-- BEGIN header -->
        <div class="header-alternate c-header-alternate"></div>
        <header class="header clearfix c-header header--planeta">
          <div class="container-header clearfix">
            <div class="header__menu">
              <ul>
                <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
                <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
              </ul>
            </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"></a>
            <div class="header__menu header__menu--right">
              <ul>
                <li><a href="#" title="Войти" class="header__menu-item"><span>Войти</span></a></li>
                <li><a href="#" title="Зарегистрироваться" class="header__menu-item btn-reg"><span>Зарегистрироваться</span></a></li>
              </ul>
            </div>
          </div>
        </header><!-- авторизован/корзина пустая-->
        <header class="header clearfix c-header header--planeta">
          <div class="container-header clearfix">
            <div class="header__menu">
              <ul>
                <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
                <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
              </ul>
            </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"></a>
            <div class="header__menu header__menu--right">
              <ul>
                <li><a href="#" title="" class="header__menu-item"><img src="images/content/cart-white-fix.svg" alt="" class="cart cart--no-sales"><span>Нет покупок</span></a></li>
                <li class="separate"></li>
                <li><a href="#" title="" class="header__menu-item"><span>Мой кабинет</span><img src="images/content/babizky.jpg" alt="" class="user"></a></li>
              </ul>
            </div>
          </div>
        </header><!--авторизован/корзина не пуста-->
        <header class="header clearfix c-header header--planeta">
          <div class="container-header clearfix">
            <div class="header__menu">
              <ul>
                <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
                <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
                <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
              </ul>
            </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"></a>
            <div class="header__menu header__menu--right">
              <ul>
                <li><a href="#" title="" class="header__menu-item"><img src="images/content/cart.svg" alt="" class="cart cart--active"><span class="cart-content">2 товара на 750 ₽</span></a></li>
                <li class="separate"></li>
                <li><a href="#" title="" class="header__menu-item"><span>Мой кабинет</span><img src="images/content/babizky.jpg" alt="" class="user"></a></li>
              </ul>
            </div>
          </div>
        </header><!-- END header -->
        <div style="background-color: #000" class="background-block"><!-- BEGIN header -->
          <div class="header-alternate c-header-alternate"></div>
          <header class="header clearfix c-header">
            <div class="content">
              <div class="container-header clearfix">
                <div class="header__menu">
                  <ul>
                    <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
                    <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
                  </ul>
                </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"></a>
                <div class="header__menu header__menu--right">
                  <ul>
                    <li><a href="#" title="Войти" class="header__menu-item"><span>Войти</span></a></li>
                    <li><a href="#" title="Зарегистрироваться" class="header__menu-item btn-reg"><span>Зарегистрироваться</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </header><!-- авторизован/корзина пустая-->
          <header class="header clearfix c-header">
            <div class="content">
              <div class="container-header clearfix">
                <div class="header__menu">
                  <ul>
                    <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
                    <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
                  </ul>
                </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"></a>
                <div class="header__menu header__menu--right">
                  <ul>
                    <li><a href="#" title="" class="header__menu-item"><img src="images/content/cart-white.svg" alt="" class="cart cart--no-sales"><span>Нет покупок</span></a></li>
                    <li class="separate"></li>
                    <li><a href="#" title="" class="header__menu-item"><span>Мой кабинет</span><img src="images/content/babizky.jpg" alt="" class="user"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </header><!--авторизован/корзина не пуста-->
          <header class="header clearfix c-header">
            <div class="content">
              <div class="container-header clearfix">
                <div class="header__menu">
                  <ul>
                    <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
                    <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
                    <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
                  </ul>
                </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"></a>
                <div class="header__menu header__menu--right">
                  <ul>
                    <li><a href="#" title="" class="header__menu-item"><img src="images/content/cart.svg" alt="" class="cart cart--active"><span class="cart-content">2 товара на 750 ₽</span></a></li>
                    <li class="separate"></li>
                    <li><a href="#" title="" class="header__menu-item"><span>Мой кабинет</span><img src="images/content/babizky.jpg" alt="" class="user"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </header><!-- END header -->
        </div>
        <div class="content">
          <div class="block-btn-radio__item">
            <input id="item1" type="radio" name="stepsDone" value="" checked class="radio-custom">
            <label for="item1" class="label-radio">Готова к передаче в издательство</label>
          </div>
          <div class="block-btn-radio__item">
            <input id="item2" type="radio" name="stepsDone" value="" class="radio-custom">
            <label for="item2" class="label-radio">Почти закончена, на финальной стадии</label>
          </div>
          <div class="block-btn-checkbox__item">
            <input id="check1" type="checkbox" name="electr" value="" checked class="checkbox-custom">
            <label for="check1" class="label-checkbox">Готова к передаче в издательство</label>
          </div>
          <div class="block-btn-checkbox__item">
            <input id="check2" type="checkbox" name="hardCover" value="" class="checkbox-custom">
            <label for="check2" class="label-checkbox">Почти закончена, на финальной стадии</label>
          </div>
          <div class="block-input block-input--required">
            <input id="name" type="text" name="name" placeholder="" class="input-custom c-input-custom">
            <label for="name" class="label-custom c-label-custom">Ваше имя</label>
          </div>
          <div class="block-input">
            <input id="email" type="text" name="email" placeholder="" class="input-custom c-input-custom">
            <label for="email" class="label-custom c-label-custom">E-mail</label>
          </div>
          <div class="custom-btn-blue">Заказать</div>
        </div>
      </div>
    </div>
  </body>
</html>
